<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webProjectEx</display-name>

  
  <servlet>
  <servlet-name>ServletEx01</servlet-name>
  <servlet-class>com.marondal.servlet.ServletEx01</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletEx01</servlet-name>
  	<url-pattern>/servlet/ex01</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>ServletTest02</servlet-name>
  <servlet-class>com.marondal.servlet.ServletTest02</servlet-class> 
  </servlet>

  <servlet-mapping>
  	<servlet-name>ServletTest02</servlet-name>
  	<url-pattern>/servlet/test02</url-pattern>
  </servlet-mapping>
  
  
  <!-- 필터 등록 -->
  <!-- 얘 대신에 사용할 수 있는 어노테이션 있음  :@WebFilter("/*")-->
  <!-- 
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.marondal.config.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern> 
  </filter-mapping>  -->

  	<!-- /를 기반으로 모든 서블릿이 이 필터를 거치도록 함. *은 모두라는 뜻임 -->
</web-app>